body {
    background-color: #212121 !important;
    color: #fff !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin-bottom: 60px;
}

main {
    flex: 1;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

a {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #ccc !important;
}

code {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
    background-color: #121212;
    padding: 5px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

br {
    margin-bottom: 20px;
}

audio {
    margin-bottom: 20px;
}

#header {
    text-align: center;
}

.jumbotron {
    background-color: #121212;
    color: #fff;
    margin-bottom: 20px;
    padding: 2rem 1rem;
}

#footer {
    text-align: center;
}

input[type="file"] {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;

}

.form-control-file {
    background-color: #121212;
}

form {
    margin-bottom: 20px;
}

.btn-primary {
    align-items: center !important;
    text-align: right !important;

    border-color: #121212 !important;
}

footer {
    height: 8em;
    bottom: 0;
    width: 100%;
    background-color: #121212;
    color: #fff;
}